body {
  background-color: #4390d8;
  color: white;
/*
  display: grid;
  justify-content: center;
*/
  font-size: 1em;
}
.commi {
  color: #414242;
  display: grid;
  justify-content: center;
  padding: 2rem;
  font-size: 1.5rem;
  background-color: white;
  font-family: sans-serif;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
  width: 500px;
  position: relative; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, 10%);
}
.enter {
  color: white;
  background-color: #5cb750;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px 62px;
}
a {
  color: #edc949;
  font-family: sans-serif;
}
input {
  font-size: 1rem;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  font-family: sans-serif;
  background-color: #f4f2f2;
}
.personal{
  width: 90%;
}
.details{
  height:5em;
  width: 90%;
}


        #button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
